::selection /* WebKit/Blink Browsers */
	background $AzulOscuro
	color #fff 

::-moz-selection /* Gecko Browsers */
	background $AzulOscuro
	color #fff
	

::-webkit-file-upload-button
	cursor pointer

a
	color $AzulClaro
	transitionBase(0.3s)
	
	&:hover
		color lighten($AzulClaro, 40%)
		text-decoration underline

body
	background-color #fff
	color #000
	font-family $AvenirR
	font-size 1.4rem


footer
	background-color $AzulClaro
	
	a
		color #fff


h1,h2,h3,h4,h5,h6
	color $AzulOscuro
	font-family $AvenirH
	
	em
		font-family $AvenirHI

header
	background-color $AzulClaro

em
	font-family $AvenirI

strong
	color $AzulOscuro
	font-family $AvenirH