.btn
	border-radius 5px
	cursor pointer
	outline 0 !important
	outline none !important
	
	&:hover
		color #fff
	

	&-ir
		animation-delay 1s
		background darken($Azul, 80%)
		background url("../images/triangle-pattern.png"), linear-gradient(to bottom, #0b426f 0%,#0d203f 100%)
		background-position center
		background-size 140%
		box-shadow 0px 0px 10px 0px rgba(#000, 0.5)
		color #fff
		cursor pointer !important
		display block
		font-family $Hammer
		font-size 1.9rem
		line-height 1.8rem
		margin 1rem auto
		max-width 34rem
		padding 1rem
		text-align center
		text-transform uppercase
		transitionBase(0.3s)
		white-space normal
		

		&:active, &:focus
			background url("../images/triangle-pattern.png"), linear-gradient(to bottom, #0b426f 0%,#0d203f 100%)
			color #fff
			transform scale(0.9)
		

		&:hover
			background-size 150%
			
		

		img, span
			display inline-block
			cursor pointer !important
			vertical-align middle
			
		span
			width 85%
			

		img
			pointer-events none
			width 8%
	

	&-enviar, &-submit
		background-color #474d5a
		border 1px solid #fff
		border-radius 0
		display block
		font-family $Hammer
		font-size 3rem
		margin 0.8rem auto
		text-align center
		text-transform uppercase
		transitionBase(0.3s)
		width 95%
		
		&:active, &:focus
			background-color $Azul
				

	&-send-tweet, &-send-insta
		background-color #0a5e98
		border 1px solid #fff
		border-radius 0 !important
		display inline-block
		font-family $Hammer
		font-size 1.4rem
		margin-left 0.5rem
		margin-right @margin-left
		padding 1rem 0.5rem
		text-transform uppercase
		transitionBase(0.3s)
		vertical-align middle
		width 45%

		img
			float right
			// margin-top 1rem
			

		&:hover, &:active, &:focus
			background-color $Azul