.btn
	background-color $Gris
	border-radius 5px
	color #fff
	display inline-block
	font-family $AvenirL 
	font-size 1.1rem
	padding 0.6rem 2.5rem
	text-transform uppercase
	transitionBase(0.2s)
	

	&-checkout
		background-color rgba($AzulClaro, 0.9)
		font-size 1.6rem
		margin-top 4rem
		
	&-more
		background-color $AzulClaro
		
		&:hover
			background-color darken(@background-color, 40%)
			color #fff !important

	&-add-cart
		background-color $AzulOscuro
		
		&:hover
			background-color lighten(@background-color, 40%)
			color #fff !important