.img-producto
	display block
	margin 0 auto
	max-width 25rem
	

.producto
	.precio
		font-family $AvenirL
		position relative
		
		&:before
			background-color $AzulOscuro
			height 0.1rem
			content ""
			bottom 0 
			left 44% 
			position absolute 
			right 0 
			top -1.6rem
			width 12% 
			

	p
		color #000
		font-size 1.6rem
		margin-bottom 0
		text-transform uppercase

	.desc
		display block
		text-align center