//categorias de producto home

.bg-categorias
	path("bg-categorias.jpg")
	background-color  #ddecf3
	background-position center
	background-repeat no-repeat
	background-size 100%

.botones
	text-align center
	
	.btn
		margin-left 1rem	
		margin-right @margin-left
	

.cart-totales
	background $AzulOscuro
	background linear-gradient(to right, $AzulClaro 0%, $AzulOscuro 100%)
	border-radius 5px
	color #fff
	padding 2rem
	
	h2, h3
		color #fff
		font-family $AvenirL
		margin 0
		text-transform uppercase
	
	h2,
		font-size 3rem
		
	h3
		font-size 1.5rem	
	
	hr
		margin-bottom 1rem
		margin-top @margin-bottom
		width 100%
		

	.col-lg-6
		&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4)
			margin 1rem 0
		

	.valor
		text-align right
		
		p
			font-size 1.5rem
		
		&-total
			p
				font-family $AvenirH
				font-size 3rem
		
	

.categoria
	path('categorias.png')
	background-repeat no-repeat
	display block
	height 21.5rem
	margin 0 auto
	max-width 100%
	transitionBase(0.2s)
	width @height

	
	&-anillos
		background-position center left
		
	&-condones
		background-position center right
		
	&-lubricantes
		background-position -430px top
		
	&-kits
		background-position -215px top
	

.confidencial
	path("bg-confidencial.jpg")
	background-repeat no-repeat 


.comprar
	margin-top 3rem
	
	.btn, .cantidad
		display inline-block
		vertical-align middle
		
	.btn
		background-color rgba($AzulOscuro, 0.9)
		float right
		font-size 1.8rem
		
	.cantidad
		background-color #f2f2f2
		border 0
		border-radius 10px
		color #000
		font-size 2.2rem
		max-width 8rem
		padding 2rem !important
		text-align center
		transitionBase(0.2s)
		
		&:active, &:focus
			background-color darken(#f2f2f2, 30%)
			outline 0 !important
			outline none !important
		

.descripcion-producto
	background $AzulOscuro
	background linear-gradient(to right, $AzulClaro 0%, $AzulOscuro 100%)
	color #fff
	text-align center
	

	.legal
		font-size 0.8rem
		margin-top 1rem
		text-align left

.head
	background $AzulOscuro
	background linear-gradient(to right, $AzulClaro 0%, $AzulOscuro 100%)
	padding 2rem 0
	

	h1,h2,h3,h4,h5,h6
		color #fff
		font-family $AvenirL !important
		margin 0
		text-align center
		
		strong
			color #fff
		
	h1
		font-size 3rem
		

	&-bread
		padding 0
		

.hero
	path('bg-banner-membresia.jpg')
	background-position center top
	background-repeat no-repeat
	background-size 100%
	padding 3rem 1rem
	
	h1
		color #000
		font-family $AvenirL
		font-size 3.2rem
		margin-top 7rem !important
		text-transform uppercase
		
	p
		color $AzulOscuro
		font-size 2rem
		

.lista-legales
	background-color $Gris
	box-shadow 1px 3px 4px 4px rgba(0,0,0,0.15)
	list-style-type none
	padding 1rem
	max-width 90%
	
	li
		margin-bottom 1rem
		margin-top @margin-bottom
		
		a 
			color #000
			display block
			font-size 1.5rem
			position relative

			&:hover
				text-decoration none !important	
				
				&:after
					background-color $AzulOscuro
					content ""
					height 0.2rem
					left 0% 
					position absolute 
					right 0 
					bottom 0
					width 12%
			
	.active
		pointer-events none
		a
			&:after
				background-color $AzulOscuro
				content ""
				height 0.2rem
				left 0% 
				position absolute 
				right 0 
				bottom 0
				width 12%
				


.medida
	path("bg-medida.jpg")
	background-repeat no-repeat
	

.mejor-precio
	path("bg-precio.jpg")
	background-repeat no-repeat
	

.producto-cart
	border-bottom 2px solid transparent
	border-top @border-bottom
	margin-bottom 3rem
	padding 1rem
	transitionBase(0.3s)
	
	&:hover
		border-bottom-color $Gris
		border-top-color @border-bottom-color
	
	.info, .img-responsive
		display inline-block
		vertical-align top
		
	.info
		h3
			color #000
			font-family $AvenirR
			margin-bottom 0
			margin-top 0
			
		.precio
			color $AzulOscuro
			font-size 2.4rem
			margin-top 3rem
			position relative
			
			&:before
				background-color $AzulOscuro
				content ""
				height 0.1rem
				left 0
				position absolute 
				right 0 
				top -0.7rem
				width 10% 
				
		.remove
			color #000
			display block
			font-size 2.9rem
			margin-top 2rem
			

			&:active, &:focus, &:hover
				text-decoration none

	.img-responsive
		width 40%

.recomendado
	box-shadow 1px 3px 4px 4px rgba(0,0,0,0.15)
	
	button
		background-color transparent


	.btn-agregar
		color #bbb
		font-family $AvenirM
		font-size 0.9rem
		padding 0.6rem 1.9rem
		position relative
		text-transform uppercase
		
		&:before
			background-color #bbb
			circ(1.4rem)
			content ""
			display block
			left 0
			position absolute
			top 10%
			
		&:active, &:focus
			box-shadow none !important
			outline 0 !important
			outline none !important
			
			&:before
				background-color $Verde

	
	.info, .producto
		display inline-block
		margin-left 0.5rem
		margin-right @margin-left
		vertical-align top
		

	.info
		width 60%
		
		h3
			color #000
			font-family $AvenirM
			font-size 1.1rem
			margin-bottom 0.9rem
			margin-top @margin-bottom
			text-transform uppercase
			
		.precio-recomendado
			color $AzulOscuro
			font-family $AvenirL
			font-size 1.4rem
			
		
	.producto
		width 28%
		

.tarjeta
	display inline-block
	height 1.4rem
	width 2.2rem
	
	&-visa
		path('tarjeta-visa.jpg')
