//categorias de producto home

.bg-categorias
	path("bg-categorias.jpg")
	background-size 100%
	background-repeat no-repeat
	background-position center

.categoria
	path('categorias.png')
	background-repeat no-repeat
	display block
	height 21.5rem
	margin 0 auto
	max-width 100%
	transitionBase(0.2s)
	width @height

	
	&-anillos
		background-position center left
		
	&-condones
		background-position center right
		
	&-lubricantes
		background-position -430px top
		
	&-kits
		background-position -215px top
	

.botones
	text-align center
	
	.btn
		margin-left 1rem	
		margin-right @margin-left	

.head
	background $AzulOscuro
	background linear-gradient(to right, $AzulClaro 0%, $AzulOscuro 100%)
	padding 2rem 0
	

	h1,h2,h3,h4,h5,h6
		color #fff
		font-family $AvenirL !important
		text-align center
		margin 0
		
	h1
		font-size 3rem