@font-face
	font-family 'Avenir LT Std 95 Black'
	font-style normal
	font-weight normal
	src local('Avenir LT Std 95 Black'), url('../fonts/AvenirLTStd-Black.woff') format('woff')

@font-face
	font-family 'Avenir LT Std 45 Book'
	font-style normal
	font-weight normal
	src local('Avenir LT Std 45 Book'), url('../fonts/AvenirLTStd-Book.woff') format('woff')

@font-face
	font-family 'Avenir LT Std 85 Heavy'
	font-style normal
	font-weight normal
	src local('Avenir LT Std 85 Heavy'), url('../fonts/AvenirLTStd-Heavy.woff') format('woff')

@font-face
	font-family 'Avenir LT Std 35 Light'
	font-style normal
	font-weight normal
	src local('Avenir LT Std 35 Light'), url('../fonts/AvenirLTStd-Light.woff') format('woff')

@font-face
	font-family 'Avenir LT Std 65 Medium'
	font-style normal
	font-weight normal
	src local('Avenir LT Std 65 Medium'), url('../fonts/AvenirLTStd-Medium.woff') format('woff')

@font-face
	font-family 'Avenir LT Std 55 Roman'
	font-style normal
	font-weight normal
	src local('Avenir LT Std 55 Roman'), url('../fonts/AvenirLTStd-Roman.woff') format('woff')

@font-face
	font-family 'Avenir LT Std 95 Black Oblique'
	font-style normal
	font-weight normal
	src local('Avenir LT Std 95 Black Oblique'), url('../fonts/AvenirLTStd-BlackOblique.woff') format('woff')

@font-face
	font-family 'Avenir LT Std 45 Book Oblique'
	font-style normal
	font-weight normal
	src local('Avenir LT Std 45 Book Oblique'), url('../fonts/AvenirLTStd-BookOblique.woff') format('woff')

@font-face
	font-family 'Avenir LT Std 85 Heavy Oblique'
	font-style normal
	font-weight normal
	src local('Avenir LT Std 85 Heavy Oblique'), url('../fonts/AvenirLTStd-HeavyOblique.woff') format('woff')

@font-face
	font-family 'Avenir LT Std 35 Light Oblique'
	font-style normal
	font-weight normal
	src local('Avenir LT Std 35 Light Oblique'), url('../fonts/AvenirLTStd-LightOblique.woff') format('woff')

@font-face
	font-family 'Avenir LT Std 65 Medium Oblique'
	font-style normal
	font-weight normal
	src local('Avenir LT Std 65 Medium Oblique'), url('../fonts/AvenirLTStd-MediumOblique.woff') format('woff')

@font-face
	font-family 'Avenir LT Std 55 Oblique'
	font-style normal
	font-weight normal
	src local('Avenir LT Std 55 Oblique'), url('../fonts/AvenirLTStd-Oblique.woff') format('woff')
	
@font-face
	font-family 'tienda-durex'
	src url('../fonts/tienda-durex.eot?7b7tei')
	src url('../fonts/tienda-durex.eot?7b7tei#iefix') format('embedded-opentype'),
        url('../fonts/tienda-durex.ttf?7b7tei') format('truetype'),
        url('../fonts/tienda-durex.woff?7b7tei') format('woff'),
        url('../fonts/tienda-durex.svg?7b7tei#tienda-durex') format('svg')
	font-weight normal
	font-style normal

.icon
	font-family 'tienda-durex' !important
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale


.icon-medida
	&:before
		content "\e916"

.icon-cart
	&:before
		content "\e900"

.icon-uncheck
	&:before
		content "\e901"

.icon-check
	&:before
		content "\e902"

.icon-condon
	&:before
		content "\e903"

.icon-confidencial
	&:before
		content "\e904"

.icon-cuenta
	&:before
		content "\e905"

.icon-back
	&:before
		content "\e906"

.icon-go
	&:before
		content "\e907"

.icon-menu-burguer
	&:before
		content "\e908"

.icon-prev
	&:before
		content "\e909"

.icon-next
	&:before
		content "\e90a"

.icon-ordenes
	&:before
		content "\e90b"

.icon-perfil
	&:before
		content "\e90c"

.icon-preferencias
	&:before
		content "\e90d"

.icon-radio-check
	&:before
		content "\e90e"

.icon-radio-uncheck
	&:before
		content "\e90f"

.icon-suscripcion
	&:before
		content "\e910"

.icon-tag
	&:before
		content "\e911"

.icon-trash
	&:before
		content "\e912"

.icon-fb
	&:before
		content "\e913"

.icon-tw
	&:before
		content "\e914"

.icon-yt
	&:before
		content "\e915"



