// &::-webkit-input-placeholder
// 	color #fff
	
// &::-moz-placeholder
// 	color #fff
	
// &::-moz-placeholder 
// 	color #fff
	
// &:-ms-input-placeholder
// 	color #fff


#contacto
	textarea
		min-height 9rem
		outline 0 !important
		overflow auto
		padding 0.5rem
		resize none
		
	.form-group
		width 100%

.form-group
	display inline-block
	vertical-align top
	margin-right 2rem
	width 45%

	label
		font-family $AvenirL 
		font-weight 300
		
	.form-control
		border 0
		box-shadow 1px 3px 2px 2px rgba(0,0,0,0.05)
		