header
	color #fff
	padding 0 !important
	
	a
		color #fff

	.azul-oscuro		
		p
			margin 0 !important
	
	.perfil, .status-cart
		display inline-block
		font-size 1rem
		vertical-align middle
		

	.status-cart
		.cart, .help-text
			display inline-block
			vertical-align middle
			width 48%
