@keyframes destellos
	from
		background-position 0 0
		
	to
		background-position -10000px 7000px
		


@keyframes smoke
	from
		background-positio 0 0
		opacity 0.9
		transform scale(1) skewX(0deg)
		
	to
		background-positio -900px 0
		opacity 0.3
		transform scale(0.98) skewX(2deg)
		

@keyframes spot
	from
		opacity 1
		transform scale(1)
		
	to 
		opacity 0
		transform scale(2)
		