.logo
	margin-bottom 1rem
	margin-top @margin-bottom

.row
	margin 0 auto
	max-width 120.8rem
	position relative
	

	for x in (1..12)
	
		.col-lg-{x}, .col-md-{x}, .col-sm-{x}, .col-xs-{x}
			padding-left 5px
			padding-right @padding-left
			transitionBase(0.3s)
			

	&-categoria, &-productos-relacionados
		margin-bottom 8rem
		
	&-contacto, &-registro
		
		article
			background-color $Gris
			box-shadow 1px 3px 4px 4px rgba(0,0,0,0.15)
			margin-bottom 6rem
			margin-top 3rem
			padding 1rem 3rem !important
			
			h2
				color #000
				font-family $AvenirR
				font-size 2rem
				margin-bottom 3rem
				position relative
				
				&:after
					background-color $AzulClaro
					bottom -0.5rem 
					content ""
					height 0.3rem
					left 0 
					position absolute
					width 10% 

	&-descripcion
		color #fff
		text-align center
		
		h3
			color #fff
			font-size 1.2rem
			text-transform uppercase
			
		p, ul
			font-family $AvenirL
			font-size 1.2rem
			
		ul
			list-style-type none
			margin 0
			padding 0
	
	&-legales
		font-size 1.6rem
		margin-bottom 8rem		
		padding 2rem

		

	&-membresia-intro
		article
			color #fff
			padding 3rem 2rem 4rem !important
			
			h2
				color #fff
				font-family $AvenirH
				font-size 2.6rem
				text-transform uppercase
				
				i
					display block
					font-size 5rem
					margin-bottom 1rem
					
			p
				
				font-size 1.8rem
				font-family $AvenirL

	&-producto
		h1
			color #000
			font-family $AvenirM
			font-size 1.9rem
			margin-bottom 1rem
			text-align left
			

		.precio
			color $AzulOscuro
			font-size 2.4rem
			margin-top 3rem
			position relative
			
			&:before
				background-color $AzulOscuro
				content ""
				height 0.1rem
				left 0% 
				position absolute 
				right 0 
				top -1.6rem
				width 5% 
			
		.producto-resumen
			font-family $AvenirL
			font-size 1.1rem

	&-productos
		padding-bottom 5rem !important
		
		a
			color $AzulOscuro
			

			&:hover
				.categoria
					transform scale(1.1)
				
		
		h2
			font-family $AvenirM
			margin 5rem auto !important
			text-transform uppercase
			
		p
			font-family $AvenirM
			font-size 1.2rem
			text-align center
			

	&-recomendados
		background-color #f2f2f2
		padding 1.4rem
		

		h2
			font-family $AvenirM
			font-size 1.6rem
			margin 0.5rem 0
			

			