.row
	margin 0 auto
	max-width 120.8rem
	position relative
	

	for x in (1..12)
	
		.col-lg-{x}, .col-md-{x}, .col-sm-{x}, .col-xs-{x}
			padding-left 5px
			padding-right @padding-left
			transitionBase(0.3s)
			

	&-productos
		padding-bottom 5rem !important
		
		a
			color $AzulOscuro
			

			&:hover
				.categoria
					transform scale(1.1)
				
		
		h2
			font-family $AvenirM
			margin 5rem auto !important
			text-transform uppercase
			
		p
			font-family $AvenirM
			font-size 1.2rem
			text-align center
			