.bg-registro
	background-position center -4rem


.other-tweets
	margin 0 auto
	max-width 100.7rem

.row
	margin 0 auto
	max-width 120.8rem
	position relative
	

	for x in (1..12)
	
		.col-lg-{x}, .col-md-{x}, .col-sm-{x}, .col-xs-{x}
			padding-left 5px
			padding-right @padding-left
			transitionBase(0.3s)
			


.widgets
	margin-bottom 3rem