// @media (max-width: 1920px)
// 	body
// 		background-position 0 -23rem
	

@media (max-width: 1220px)

	.hero
		background-size cover

	.intro
		padding 0 !important
		
	.mejor-precio
		background-size 100%
		

	.producto-cart
		.img-responsive
			width 30%


@media (max-width: 1190px)
	.navbar
		margin-left 15rem

@media (max-width: 1170px)
	
	.carousel
		&-caption			
			h2
				font-size 4rem
				

	.navbar
		margin-left 13rem
		

	.row-membresia-intro
		article
			max-height 24rem
			h2
				font-size 2.2rem
				
				i
					font-size 4rem
			p
				font-size 1.6rem


@media (max-width: 1140px)

	.comprar
		margin-bottom 3rem
		
	
	.img-producto
		max-width 100%
		
	.navbar
		margin-left 10rem

	.recomendado
		.info
			width 44%

@media (max-width: 1090px)
	.navbar
		margin-left 5rem

@media (max-width: 990px)
	.navbar
		margin-left 15rem


@media (max-width: 960px)
	.bg-categorias
		background-size cover
		

	.navbar
		margin-left 10rem

	.recomendado
		.info
			width 50%
			

	.row-membresia-intro
		article
			padding 0rem 2rem 4rem !important
			
			h2
				font-size 2rem
				
				i
					font-size 3rem
					
			p
				font-size 1.4rem
		



@media (max-width: 880px)

	header
		.mini-login, .mini-cart
			right 0
			width 24.5rem

	footer
		.logo
			top -3rem
			

	.carousel
		&-caption			
			h2
				font-size 3rem
				
			.descripcion
				font-size 1.6rem
			
	.categoria
		background-size 400%
		cuadrado(18rem)
		
		&:hover
			transform none
		

		&-lubricantes
			background-position -362px top
			

		&-kits
			background-position -187px top
			
	
	.datos
		.form-group
			display block
			width 100%
			

	.navbar
		margin-left 8rem

	.producto-cart
		.img-responsive
			width 40%
		.info
			width 55% 
	.user-tools

		.perfil a, .status-cart a
			display none !important
		
		.perfil, .status-cart
			cursor pointer
			
			.icon
				font-size 1.9rem
				
	
	.row-membresia-intro
		article
			padding 0rem 2rem 2rem !important
			
			h2
				font-size 1.8rem
				
				i
					font-size 2.5rem
					
			p
				font-size 1.2rem

@media (max-width: 840px)
	.navbar
		margin-left 6rem

@media (max-width: 820px)
	.navbar
		margin-left 0rem

@media (max-width: 760px)


	
	footer
		.logo
			display none
			

	.btn
		&-ordenes,
		&-perfil,
		&-preferencias,
		&-suscripcion
			border-radius 0
			height 6.4rem
			margin-top 0
			width (98%/4)
			
			i
				font-size 2rem
				margin-bottom 1rem

			p
				font-size 1.2rem
				text-align center
			span
				display inline 
		
		&-logout
			display none

	.carousel
		
		.btn
			background-color $AzulClaro
			bottom -2rem
			color #fff
			margin 0 auto
			max-width inherit
			position absolute
			width 90%
		
		.item 
			.img-banner
				max-width 150%

		&-caption
			top 0
			width 90%
			.txt
				width 100%
				
		&-control
			bottom 25% 
			font-size 3rem 
			left 78% 
			top inherit
			width 15% 
				

	.hero
		h1
			font-size 2.2rem
			text-align center
			
		p
			font-size 1.6rem
			text-align center
			
		.btn
			display block
			margin 1rem auto
			
		.img-responsive
			display block
			margin 0 auto
	

	.lista-legales
		margin 0 auto 3rem
		width 100%
		li
			display inline-block
			margin-left 0.5rem	
			margin-right @margin-left
			
			a
				font-size 1.2rem

	.membresia
		.half, .img-responsive
			display inline-block
			vertical-align top
			width 45%
			

	.membresia-active
		border-bottom 2px solid $AzulClaro
		border-top @border-bottom
		box-shadow 0px 3px 4px 4px rgba(0,0,0,0.15)
				
	.navbar
		position relative
		
		&-collapse
			overflow hidden
			margin 1rem auto
			text-align center
			transform translate3d(-50%,9%,0)
			width 200%
			
			ul
				li
					margin 1rem
	
	
	.producto-cart
		.info
			h3
				font-size 1.8rem

	.recomendado
		margin-bottom 1rem
		margin-top @margin-bottom

	.row-descripcion
		text-align left
		
	.row-cart
		direction rtl
		transform rotate(180deg)
		
		h1
			display none
		
		
		section
			direction ltr
			transform rotate(-180deg)
			

		.btn-checkout
			display block
			margin-top 0
			width 100%
			

	.row-membresia-intro
		article
			background-size 100%

@media (max-width: 640px)
	
	.btn
		padding 0.6rem 0.9rem

		&-ordenes,
		&-perfil,
		&-preferencias,
		&-suscripcion
			border-radius 0
			height 6.4rem
			margin-top 0
			width (95%/4)
			

			i
				margin-bottom 0.3rem
			
			p
				font-size 1rem
				
				span
					display block
					margin 0 auto -0.3rem
					text-align center

	.carousel
		
		.item 
			.img-banner
				max-width 180%
				
	
	.row-producto
		.col-lg-4
			.img-responsive
				margin-left -20%
				max-width 200%

@media (max-width: 580px)
	
	.btn
		padding 0.6rem 0.9rem
		
		&-add-cart
			font-size 1.2rem !important
			

		&-ordenes,
		&-perfil,
		&-preferencias,
		&-suscripcion
			padding 0.6rem
			

			p
				font-size 0.7rem
				
				span
					margin-bottom -0.6rem
		
	.botones
		.btn
			margin-left 0.25rem
			margin-right @margin-left
	
	.carousel
		
		.btn
			width 100%
		
		.item 
			.img-banner
				max-width 200%

		&-caption
			left 5% !important
			
			h2
				font-size 2.5rem
				
			p
				font-size 1.4rem
		

	.comprar
		margin-top 0
		.cantidad
			max-width 5rem	
			
	.lista-legales
		li
			margin-left 0.5rem	
			margin-right @margin-left
			text-align center
			vertical-align top
			width 29%
			
			a
				&:after
					left 44% !important

	.producto
		margin-bottom 4rem
		
	.row-producto
		.col-lg-4
			.img-responsive
				margin-left -35%
				max-width 160%
	

@media (max-width: 550px)

	.btn-submit, .btn-submit-contact
		display block
		margin 1rem auto
		font-size 1.6rem
		
	.form-group
		display inline-block
		vertical-align top
		margin-right 2rem
		width 100%


@media (max-width: 460px)
	

	.carousel
		
		.item 
			.img-banner
				max-width 250%
				
	.comprar
		margin-top 4rem
		transform translate3d(-50%,0,0)
		width 110%
		
		.btn
			font-size 1rem !important
	

	.lista-legales
		li
			width 25%
			
			a
				font-size 0.8rem

	.navbar-toggle
		cuadrado(6rem)
		

	.row-recomendados
		margin-top 11rem
		width 200%
		transform translate3d(-50%,0,0)

	.row-cart
		.btn-checkout
			margin-bottom 2rem !important

@media (max-width: 390px)

	.botones
		.btn
			margin-bottom 0.5rem
			width 100%
			
	.carousel
		
		.item 
			.img-banner
				margin-left -100%
				max-width 300%
				

		&-control
			bottom 25% 
			font-size 3rem 
			left 72% 

	
	.comprar
		margin-left -4rem
		transform translate3d(-32%, 0, 0)
		width 145%
		
		.btn
			font-size 1.1rem !important

	.row-recomendados
		margin-top 2rem
		
