// @media (max-width: 1920px)
// 	body
// 		background-position 0 -23rem
	

@media (max-width: 1170px)
	
	.carousel
		&-caption			
			h2
				font-size 4rem
				

	.navbar
		margin-left 0


@media (max-width: 1130px)

	.comprar
		margin-bottom 3rem
		
	
	.img-producto
		max-width 100%

	.recomendado
		.info
			width 44%

@media (max-width: 960px)
	.bg-categorias
		background-size cover
		

	.recomendado
		.info
			width 50%
		



@media (max-width: 880px)

	header
		.mini-login, .mini-cart
			right 0
			width 24.5rem

	footer
		.logo
			top -3rem
			

	.carousel
		&-caption			
			h2
				font-size 3rem
				
			.descripcion
				font-size 1.6rem
			
	.categoria
		background-size 400%
		cuadrado(18rem)
		
		&:hover
			transform none
		

		&-lubricantes
			background-position -362px top
			

		&-kits
			background-position -187px top
			
	
	.user-tools

		.perfil a, .status-cart a
			display none !important
		
		.perfil, .status-cart
			cursor pointer
			
			.icon
				font-size 1.9rem
				

@media (max-width: 760px)


	
	footer
		.logo
			display none

	.carousel
		
		.btn
			bottom -2rem
			margin 0 auto
			max-width inherit
			position absolute
			width 90%
		
		.item 
			.img-banner
				max-width 150%

		&-caption
			top 0
			width 90%
			.txt
				width 100%
				
	.navbar
		position relative
		
		&-collapse
			overflow hidden
			margin 1rem auto
			text-align center
			transform translate3d(-50%,9%,0)
			width 200%
			
			ul
				li
					margin 1rem
	
	
	.recomendado
		margin-bottom 1rem
		margin-top @margin-bottom

	.row-descripcion
		text-align left

@media (max-width: 640px)
	
	.btn
		padding 0.6rem 0.9rem

	.carousel
		
		.item 
			.img-banner
				max-width 180%
				
	
	.row-producto
		.col-lg-4
			.img-responsive
				margin-left -20%
				max-width 200%

@media (max-width: 580px)
	
	.btn
		padding 0.6rem 0.9rem
		
		&-add-cart
			font-size 1.2rem !important
		
	.botones
		.btn
			margin-left 0.25rem
			margin-right @margin-left
	
	.carousel
		
		.btn
			width 100%
		
		.item 
			.img-banner
				max-width 200%

		&-caption
			left 5% !important
			
			h2
				font-size 2.5rem
				
			p
				font-size 1.4rem
		

	.comprar
		margin-top 0
		.cantidad
			max-width 5rem		

	.producto
		margin-bottom 4rem
		
	.row-producto
		.col-lg-4
			.img-responsive
				margin-left -35%
				max-width 160%
	

@media (max-width: 460px)

	.navbar-toggle
		cuadrado(6rem)

	.carousel
		
		.item 
			.img-banner
				max-width 250%
				
	.comprar
		margin-top 4rem
		transform translate3d(-50%,0,0)
		width 110%
		
		.btn
			font-size 1rem !important
				
	.row-recomendados
		margin-top 11rem
		width 200%
		transform translate3d(-50%,0,0)

@media (max-width: 380px)

	.botones
		.btn
			margin-bottom 0.5rem
			width 100%
			
	.carousel
		
		.item 
			.img-banner
				margin-left -100%
				max-width 300%

	
	.comprar
		margin-left -4rem
		transform translate3d(-32%, 0, 0)
		width 145%
		
		.btn
			font-size 1.1rem !important

	.row-recomendados
		margin-top 2rem
		
