.nav
	&bar
		background-color transparent
		border none
		margin-bottom 0 !important
		margin-left 7rem
		margin-top 2rem
		min-height inherit !important
		
		.container-fluid
			padding 0
				
			
	&bar-collapse
		padding 0
			
	&bar-default, &bar-nav
		border none
		
		li
			transitionBase(0.3s)
			a
				color #fff !important
				padding 0.35rem 1.44rem 0
				text-shadow none
				text-transform uppercase
		
		.active
			pointer-events none !important
				
			a
				background-color transparent !important
				font-family $AvenirBl
				pointer-events none !important
				
				&:active, &:hover, &:focus
					background-color transparent !important