.carousel
	padding 0 !important
	&-caption
		left 10% !important
		width 80%
		
		h2
			color #fff
			font-size 6rem
			text-shadow none 
			font-weight $AvenirM
			text-align left
			

		.descripcion
			color #fff
			font-size 2rem
			text-align left
			

		.producto, .txt
			display inline-block
			vertical-align middle
			

		.producto
			width 33%
			
		.txt
			width 60%