.carousel
	padding 0 !important
	
	
	.btn
		background-color rgba(#fff, 0.9)
		border none
		color #000
		display block
		font-family $AvenirL 
		font-size 1.5rem
		max-width 21.4rem
		padding-left 1rem
		padding-right @padding-left
		text-transform uppercase

	&-caption
		left 10% !important
		width 80%
		
		h2
			color #fff
			font-size 6rem
			font-family $AvenirH
			text-align left
			text-shadow none 
			

		.descripcion
			color #fff
			font-size 2rem
			text-align left
			

		.producto, .txt
			display inline-block
			vertical-align middle
			

		.producto
			width 33%
			
		.txt
			width 60%
			

	&-control
		bottom 25% 
		font-size 3rem 
		left 78% 
		top inherit
		width 15% 