$AzulClaro  = #0071b7
$AzulOscuro = #242a68
$Gris       = #f4f4f4
$Rojo       = #bf0411 
$Verde      = #70a83b


$AvenirLI   = 'Avenir LT Std 35 Light Oblique', Helvetica, Arial, sans-serif
$AvenirL    = 'Avenir LT Std 35 Light', Helvetica, Arial, sans-serif
$AvenirBL   = 'Avenir LT Std 45 Book Oblique', Helvetica, Arial, sans-serif
$AvenirB    = 'Avenir LT Std 45 Book', Helvetica, Arial, sans-serif
$AvenirI    = 'Avenir LT Std 55 Oblique', Helvetica, Arial, sans-serif
$AvenirR    = 'Avenir LT Std 55 Roman', Helvetica, Arial, sans-serif
$AvenirMI   = 'Avenir LT Std 65 Medium Oblique', Helvetica, Arial, sans-serif
$AvenirM    = 'Avenir LT Std 65 Medium', Helvetica, Arial, sans-serif
$AvenirHI   = 'Avenir LT Std 85 Heavy Oblique', Helvetica, Arial, sans-serif
$AvenirH    = 'Avenir LT Std 85 Heavy', Helvetica, Arial, sans-serif
$AvenirBlI  = 'Avenir LT Std 95 Black Oblique', Helvetica, Arial, sans-serif
$AvenirBl   = 'Avenir LT Std 95 Black', Helvetica, Arial, sans-serif
$Icon       = 'Glyphicons Halflings'
$Durex      = 'tienda-durex'