$AzulClaro  = #0071b7
$AzulOscuro = #242a68


$AvenirLI   = 'Avenir LT Std 35 Light Oblique'
$AvenirL    = 'Avenir LT Std 35 Light'
$AvenirBL   = 'Avenir LT Std 45 Book Oblique'
$AvenirB    = 'Avenir LT Std 45 Book'
$AvenirI    = 'Avenir LT Std 55 Oblique'
$AvenirR    = 'Avenir LT Std 55 Roman'
$AvenirMI   = 'Avenir LT Std 65 Medium Oblique'
$AvenirM    = 'Avenir LT Std 65 Medium'
$AvenirHI   = 'Avenir LT Std 85 Heavy Oblique'
$AvenirH    = 'Avenir LT Std 85 Heavy'
$AvenirBI   = 'Avenir LT Std 95 Black Oblique'
$AvenirB    = 'Avenir LT Std 95 Black'
$Icon       = 'Glyphicons Halflings'