nav.navbar.navbar-default
	div.container-fluid

		//boton responsive
		div.navbar-header
			button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#menu", aria-expanded="false")
				span.icon-bar
				span.icon-bar
				span.icon-bar
		///-boton responsive

		//Menu items
		div#menu.collapse.navbar-collapse
			ul.nav.navbar-nav

				li: a(href="#") Membresia Durex
				li: a(href="#") condones
				li: a(href="#") lubricantes
				li: a(href="#") anillos
				li: a(href="#") kits

		///-Menu items

