//Nib & gradient support
@import 'nib/vendor'
@import 'nib/gradients'
//Esto hace que exporte los estilos css3 con soporte para todos los navegadores
vendor-prefixes = o ms webkit moz official

@import "modules/variables"
@import "modules/funciones"
@import "modules/fonts"
@import "modules/base"

//Layout
@import "modules/layout"
@import "modules/header"
@import "modules/footer"
@import "modules/menu"
// @import "modules/buttons"
@import "modules/components"
// @import "modules/forms"
@import "modules/slider"
// @import "modules/counter"
@import "modules/utilities"
// @import "modules/keyframes"
// @import "modules/media-queries"
