extends partials/base.jade

block title
	-var titulo = "Tu Carro";
	title Durex Love Sex - Tienda Online

block content
	div.head.head-bread

		div.row
			ol.breadcrumb
				li: a(href="index.html") Inicio
				li.active Carro
	section.container-fluid


		div.row.row-cart
			h1 Tu Carro
			

			//lista de compras
			section.div-col-lg-5.col-md-6.col-sm-6.col-xs-12
				-for(x =0; x < 4; x++)
					article.producto-cart
						img.img-responsive(src="images/producto-sample.jpg", alt="Durex Placer Prolongado", title="Durex Placer Prolongado")

						
						div.info
							h3 Durex Placer Prolongado
							small Contienen 5% de benzocaína
							p.precio $99.999
							a.remove(href="#", role="button"): i.icon.icon-trash

			///-lista de compras
			
			//total
			section.div-col-lg-5.col-md-5.col-sm-5.col-xs-12.col-lg-offset-1.col-md-offset-1.col-sm-offset-1
				article.cart-totales
					div.col-lg-6.col-md-6.col-sm-6.col-xs-6.texto
						h3 subtotal                                                        
					div.col-lg-6.col-md-6.col-sm-6.col-xs-6.valor.valor-subtotal
						p $21.300

					div.col-lg-6.col-md-6.col-sm-6.col-xs-6.texto
						h3 envío                                                        
					div.col-lg-6.col-md-6.col-sm-6.col-xs-6.valor.valor-envio
						p $7.300
					
					hr.

					div.col-lg-6.col-md-6.col-sm-xs-6.texto
						h2 total                                                        
					div.col-lg-6.col-md-6.col-sm-xs-6.valor.valor-total
						p $28.400

					img.img-responsive(src="images/medios-pago.png")

				a.btn.btn-checkout(href="#") Ir al checkout

			///-total
	
block Scripts