extends partials/base.jade

block title
	-var titulo = "Categoría";
	title Durex Love Sex - Tienda Online

block content
	section.container-fluid

		h1.text-center.
			<i class="icon icon-condon"></i>
			Condones

		div.row.row-productos

			//producto
			article.col-lg-4.col-md-4.col-sm-4.col-xs-12
				img.img-responsive.img-producto(src="images/condon-sample.png", alt="Durex Placer Prolongado", title="Durex Placer Prolongado")

				//Nombre
				h2.text-center Durex Placer Prolongado
				///-Nombre

				small Contienen 5% de benzocaína

				//Precio
				h3 $99.000
				///-Precio




			///-producto


		


		
	
block Scripts