extends partials/base.jade

block title
	-var titulo = "Categoría";
	title Durex Love Sex - Tienda Online

block content
	div.head

		h1.text-center.
			<i class="icon icon-condon"></i>
			Condones
	section.container-fluid


		div.row.row-categoria

			- for(x =0; x < 6; x++ )
				//producto
				article.col-lg-4.col-md-4.col-sm-6.col-xs-6.producto
					img.img-responsive.img-producto(src="images/condon-sample.jpg", alt="Durex Placer Prolongado", title="Durex Placer Prolongado")

					//Nombre
					p.text-center Durex Placer Prolongado
					///-Nombre

					small.desc  Contienen 5% de benzocaína

					//Precio
					h3.precio.text-center  $99.000
					///-Precio

					div.botones
						a.btn.btn-more(href="#", role="button") Ver Más
						a.btn.btn-add-cart(href="#", role="button") + Carrito

				///-producto


		


		
	
block Scripts