extends partials/base.jade

block title
	-var titulo = "Home";
	title Durex Love Sex - Tienda Online

block content
	section.container-fluid.no-border

		div#carrusel-ppal.carousel(data-ride="carousel")

			//wrapper 
			div.carousel-inner(role="listbox")

				//item
				div.item.active
					img.img-banner(src="images/banner-sample.jpg", alt="Ejemplo de ALT", title="Ejemplo de Title")

					div.carousel-caption
						
						div.txt
							h2 Cada tacto se siente más real con Durex

							p.descripcion.
								Verdadera sensación de la piel sobre la piel. No hay nada que 
								se le parezca. Ahora cada toque se siente más real con Durex.

							a.btn.btn-primary.btn-lg(href="#", role="button") Comprar ahora


						img.producto(src="images/sample-banner-producto.png", alt="")

				//item


			//Controles

			a.left.carousel-control(href="#carousel-example-generic" role="button" data-slide="prev").
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>

			a.right.carousel-control(href="#carousel-example-generic" role="button" data-slide="next").
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>


	section.container-fluid.no-border.bg-categorias
		section.row.row-productos

			h2.text-center NUESTROS PRODUCTOS
			

			div.test-carousel
				//Condones
				article.col-lg-3.col-md-3.col-sm-3.col-xs-12.slide
					a(href="#")
						div.categoria.categoria-condones

						p Condones

				///-Condones

				//lubricantes
				article.col-lg-3.col-md-3.col-sm-3.col-xs-12.slide
					a(href="")
						div.categoria.categoria-lubricantes
						p Lubricantes
				///-lubricantes

				//Anillos			
				article.col-lg-3.col-md-3.col-sm-3.col-xs-12.slide
					a(href="")
						div.categoria.categoria-anillos
						p Anillos
				///-Anillos
				

				//Kits de placer
				article.col-lg-3.col-md-3.col-sm-3.col-xs-12.slide
					a 
						div.categoria.categoria-kits
						p Kits de placer
				///-Kits de placer
		


		
	
block Scripts