extends partials/base.jade

block title
	-var titulo = "Membresia - Select";
	title Durex Love Sex - Tienda Online

block content
	div.head
		
		h1 Selecciona la membresia
	section.container-fluid


		div.row.row-select-membresia

			//Plata
			article.col-lg-3.col-md-3.col-sm-3.col-xs-12.membresia(data-membresia="plata")
				
				i.select-radio
				h2 Plata

				p.membresia-precio $16.000

				img.img-responsive(src="images/membresia-plata.png")
				
				p.membresia-desc
					<span class="cantidad" data-base="6">6</span> Condones

				div.membresia-condones

					h3 Selecciona los condones y cantidades

					p.bg-danger.hidden.
						Solo puedes seleccionar hasta <span> </span> condones con este plan

					div.condones
					
						-for(x =0; x < 6; x++)
							div.condon
								img(src="images/condon.png")
								//- span.badge #{x}
								input.cantidad-condon(type="text",maxlength="1" placeholder="0", value="" )

			///-Plata

			//Oro
			article.col-lg-3.col-md-3.col-sm-3.col-xs-12.membresia(data-membresia="oro")
				
				i.select-radio
				h2 Oro

				p.membresia-precio $23.000

				img.img-responsive(src="images/membresia-oro.png")
				
				p.membresia-desc.
					<span class="cantidad" data-base="8">8</span> Condones
				p.membresia-desc 1 Lubricante

				div.membresia-condones

					h3 Selecciona los condones y cantidades

					p.bg-danger.hidden.
						Solo puedes seleccionar hasta <span> </span> condones con este plan

					div.condones
					
						-for(y =0; y < 6; y++)
							div.condon
								img(src="images/condon.png")
								//- span.badge #{y}
								input.cantidad-condon(type="text",maxlength="1" placeholder="0", value="")

			///-Oro

			//Rodio
			article.col-lg-3.col-md-3.col-sm-3.col-xs-12.membresia(data-membresia="rodio")
				i.select-radio
				h2 Rodio

				p.membresia-precio $47.000

				img.img-responsive(src="images/membresia-rodio.png")
				
				p.membresia-desc.
					<span class="cantidad" data-base="16">16</span> Condones
				p.membresia-desc 2 Lubricantes

				div.membresia-condones

					h3 Selecciona los condones y cantidades

					p.bg-danger.hidden.
						Solo puedes seleccionar hasta <span> </span> condones con este plan

					div.condones					

						-for(z =0; z < 6; z++)
							div.condon
								img(src="images/condon.png")
								//- span.badge #{z}
								input.cantidad-condon(type="text",maxlength="2" placeholder="0", value="")

			///-Rodio

			//Diamante
			article.col-lg-3.col-md-3.col-sm-3.col-xs-12.membresia(data-membresia="diamante")
				i.select-radio
				h2 Diamante

				p.membresia-precio $60.000

				img.img-responsive(src="images/membresia-diamante.png")
				
				p.membresia-desc.
					<span class="cantidad" data-base="16">16</span> Condones
				p.membresia-desc 2 Lubricantes
				p.membresia-desc 1 Anillo

				div.membresia-condones

					h3 Selecciona los condones y cantidades

					p.bg-danger.hidden.
						Solo puedes seleccionar hasta <span> </span> condones con este plan

					div.condones

						-for(a =0; a < 6; a++)
							div.condon
								img(src="images/condon.png")
								//- span.badge #{a}
								input.cantidad-condon(type="text",maxlength="2" placeholder="0", value="")
			///-Diamante
		
	section.container-fluid.no-border.azul-oscuro
		div.row
			a.btn.btn-go-checkout(href="#").
				IR AL CHECKOUT <i class="icon icon-go"></i>

	
block Scripts