extends partials/base.jade

block title
	-var titulo = "Mi cuenta";
	title Durex Love Sex - Tienda Online

block content
	div.head
		
		h2.
			<strong>hola,</strong>
			<span class="nombre-usuario">Daniela</span>
	section.container-fluid


		article.row.row-cuenta

			//Navegacion cuenta
			div.col-lg-2.col-md-2.col-sm-2.col-xs-12.botones-perfil
				button.btn.btn-perfil.active(type="button", data-btn="perfil").
					<i class="icon icon-perfil"></i>
					<p>
						<span>Mi</span> Perfil
					</p>
				button.btn.btn-preferencias(type="button", data-btn="preferencias").
					<i class="icon icon-preferencias"></i>
					<p>
						<span>Mis</span> Preferencias
					</p>
				button.btn.btn-suscripcion(type="button", data-btn="suscripcion").
					<i class="icon icon-suscripcion"></i>
					<p>
						<span>Mi</span> Suscripcion
					</p>
				button.btn.btn-ordenes(type="button", data-btn="ordenes").
					<i class="icon icon-ordenes"></i>
					<p>
						<span>Mis</span> Ordenes
					</p>

				a.btn.btn-logout(href="#",role="button") Cerrar sesión
			///-Navegacion cuenta


			//formularios
			div.col-lg-6.col-md-6.col-sm-6.col-xs-12.col-lg-offset-1.col-md-offset-1.col-sm-offset-1
				
				//Datos personales
				form#datos-personales.cuenta
					

					div.datos.datos-personales
						h2 Datos Personales
						
						//Nombre
						div.form-group
							label(for="nombre") Nombre
							input.form-control(type="text", name="nombre", id="nombre")
						///-Nombre

						//Apellidos
						div.form-group
							label(for="apellidos") Apellidos
							input.form-control(type="text", name="apellidos", id="apellidos")
						///-Apellidos

						//Celular
						div.form-group
							label(for="celular") Celular
							input.form-control(type="text", name="celular", id="celular")
						///-Celular

						//Telefono
						div.form-group
							label(for="telefono") Teléfono
							input.form-control(type="text", name="telefono", id="telefono")
						///-Telefono


						//email
						div.form-group
							label(for="email") Email
							input.form-control(type="email", name="email", id="email")
						///-email



						button.btn.btn-update-persona(type="button") Actualizar Datos


					div.datos.datos-seguridad

						h2 Contraseña

						//actual contraseña
						div.form-group
							label(for="password") Contraseña Actual
							input.form-control(type="password", name="apassword", id="apassword")
						///-actual contraseña

						//nueva contraseña
						div.form-group
							label(for="password") Contraseña
							input.form-control(type="password", name="password", id="password")
						///-nueva contraseña

						//Confirmar contraseña
						div.form-group
							label(for="cpassword") Confirmar Contraseña
							input.form-control(type="password", name="cpassword", id="cpassword")
						///-Confirmar contraseña
						button.btn.btn-update-pass(type="button") Actualizar Datos
				///-Datos personales
				//Preferencias
				form#preferencias.cuenta.hidden

					div.datos.datos-notificaciones
						h2 Notificaciones
						//SMS
						div.checkbox
							input(type="checkbox", name="sms", value="sms", id="sms")
							label(for="sms") SMS de todas las notificaciones.
						///-SMS

						//resumen de ordenes
						div.checkbox
							input(type="checkbox", name="resumen", value="resumen", id="resumen")
							label(for="resumen") Mail con resumen de ordenes.
						///-resumen de ordenes

						//status de ordenes
						div.checkbox
							input(type="checkbox", name="status", value="status", id="status")
							label(for="status") Mail de status de ordenes.
						///-status de ordenes

						//despacho
						div.checkbox
							input(type="checkbox", name="despacho", value="despacho", id="despacho")
							label(for="despacho") Mail con la confirmación mensual del despacho de su suscripción.
						///-despacho

						//suscripcion
						div.checkbox
							input(type="checkbox", name="suscripcion", value="suscripcion", id="suscripcion")
							label(for="suscripcion") Mail de status de suscripción mensual.
						///-suscripcion

					div.datos.datos-news
						h2 Newsletter

						//lanzamiento
						div.checkbox
							input(type="checkbox", name="lanzamiento", value="lanzamiento", id="lanzamiento")
							label(for="lanzamiento") Lanzamiento de nuevos productos.
						///-lanzamiento

						//ofertas
						div.checkbox
							input(type="checkbox", name="ofertas", value="ofertas", id="ofertas")
							label(for="ofertas") Ofertas y noticias exclusivas.
						///-ofertas
				
				//suscripcion	
				div.datos.datos-sucripcion.cuenta.hidden

					h2 Suscripción
					
					div.suscripcion
						div.status.status-active
							p activada
						
						div.row
							//Tipo de suscripcion
							div.col-lg-3.col-md-3.col-sm-3.col-xs-12
								p Tipo de suscripción

								h4 Oro
							///-Tipo de suscripcion

							//valor de suscripcion
							div.col-lg-3.col-md-3.col-sm-3.col-xs-12
								p Valor de suscripción

								h4 $99.999
							///-valor de suscripcion

							//pago
							div.col-lg-3.col-md-3.col-sm-3.col-xs-12
								p Método de pago

								h4.metodo-pago.
									<div class="tarjeta tarjeta-visa"></div>
									4560
							///-pago
							
							div.clearfix
							//controls
							div.col-lg-3.col-md-3.col-sm-3.col-xs-12.col-lg-offset-9.col-md-offset-9.col-sm-offset-9.controls
								p.
									<a class="modificar-suscripcion" href="#">modificar</a>   |   <a class="pausar-suscripcion" href="#">pausar</a>
							///-controls
				///-suscripcion	
				

				div.datos.datos-ordenes.cuenta.hidden

					h2 Órdenes

					-for(x = 0; x < 4;x++)
						div.table-responsive
							table.table
								tr.num-orden
									td(colspan="4") ORDEN #13578 | 12/06/16

								tr
									th SKU
									th Nombre
									th(colspan="2") Valor

								tr

									td 34534345
									td Combo Durex
									td $14.500
									td.total(rowspan="2").
										<h4>total</h4>
										<p class="valor">$45.600</p>
										<p class="descarga"><a href="#">descargar factura</a></p>

								tr
									td 35434345   
									td Caja Durex
									td $9.500



			///-formularios



	
block Scripts