extends partials/base.jade

block title
	-var titulo = "Producto";
	title Durex Love Sex - Tienda Online

block content
	section.container-fluid

		div.head
			
			div.row	
		
				include modules/breadcrumbs.jade

				block migas
					li: a(href="index.html") Inicio
					li: a(href="categoria.html") condones
					li.active Durex Placer Prolongado

		article.row.row-producto
			//imagen de producto
			div.col-lg-4.col-md-4.col-sm-4.col-xs-12.col-lg-offset-1.col-md-offset-1.col-sm-offset-1
				img.img-responsive(src="images/producto-sample.jpg", alt="DUREX PLACER PROLONGADO", title="DUREX PLACER PROLONGADO")
			///-imagen de producto


			//Datos producto
			div.col-lg-5.col-md-5.col-sm-5.col-xs-12.col-lg-offset-2.col-md-offset-2.col-sm-offset-2
				h1 DUREX® PLACER PROLONGADO
				p.
					Durex Placer Prolongado son preservativos que contienen 5% de benzocaína la cual 
					retarda el clímax del hombre para tener una relación más placentera.


				p.precio $99.999

				div.row.row-recomendados
					h2 También te recomendamos

					-for(y = 0; y < 2; y++)
						div.col-lg-6.col-md-6.col-sm-6.col-xs-12
							div.bg-blanco
								div.producto
									img.img-responsive(src="images/producto-sample.png")

								div.info
									h3 Gel de Placer
									p $99.999
									button.btn.btn-agregar(type="button") agregar

			///-Datos producto

		//Descripción - caracteristicas	
		article.row.row-descripcion
			div.col-lg-6.col-md-6.col-sm-6.col-xs-12.col-lg-offset-3.col-md-offset-3.col-sm-offset-3

				h3 Detalles:
				p.
					Durex Placer Prolongado incrementa el tiempo de placer en tus relaciones gracias a su efecto retardarte por el 5% de Benzocaína que contiene dentro del preservativo.
				 
				h3 Características:
				ul
					li -Látex liso fabricado de caucho natural.
					li -Contiene lubricante Performa con 5% de Benzocaína que retrasa la eyaculación del hombre.
					li -Es transparente y lubricado.
					li -Tiene una forma anatómica Easy-On con depósito.
					li -La anchura de nómina es de 56mm
					li -Largo: 195mm.
					li -   Espesor: 0.065mm (Valores Nominales)
					li -   Forma anatómica fácil de poner.
					li -   Dermatológicamente testeados.
					li  -100% electrónicamente testeados.

			div.col-lg-12
				p.
					Utilízala los preservativos solo una vez. Este producto debe ser almacenado en un lugar fresco y seco, lejos del sol, para optimizar su rendimiento y seguridad. Para mayor información sobre los productos Durex, contáctate con nuestra línea de atención al cliente 018000513499, al 
					correo electrónico Consumer.Relation-LATAM@rb.com, o en nuestra página web www.durex.com.co. Si tienes dudas con los despachos de los productos escríblenos al correo tiendadurex@tiendadurex.com

		///-Descripción - caracteristicas	
		
		//Otros productos
		aside.row.row-productos-relacionados
			- for(x =0; x < 4; x++ )
				//producto
				article.col-lg-4.col-md-4.col-sm-4.col-xs-12
					img.img-responsive.img-producto(src="images/condon-sample.png", alt="Durex Placer Prolongado", title="Durex Placer Prolongado")

					//Nombre
					h2.text-center Durex Placer Prolongado
					///-Nombre

					small Contienen 5% de benzocaína

					//Precio
					h3 $99.000
					///-Precio

					a.btn.btn-more(href="#", role="button") Ver Más
					a.btn.btn-add-cart(href="#", role="button") + Carrito

				///-producto
		///-Otros productos


		
	
block Scripts